.container {
  width: 43vw;
  margin: 0 auto;
  margin-top: 70px;

}
.currency {
  padding: 15px 20px;
  border: 2px solid cornflowerblue;
  box-shadow: 10px 10px 10px cornflowerblue;
  border-radius: 10px;
  background-color: rgba(249, 247, 246, 0.9);
}
.currency h2 {
  text-align: center;
  font-size: 23px;
  margin-bottom: 10px;
}
.currency-names {
  display: flex;
}
.currency-names p {
  padding: 7px 0;
}
.currency ul {
  list-style: none;
  display: inline;
}

.currency li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.currency-action {
  display: flex;
  justify-content: space-between;
}

.currency-action span {
  width: 45%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 4px;
}

.currencies {
  padding: 5px 10px;
  border: 2px solid cornflowerblue;
  color: cornflowerblue;
  margin-left: 5px;
}
.activeCurrency {
  background-color: #3C8AFB;
  color: white;
}
.fields{
margin-top: 10px;
}
.fields p p {
  margin-left: 5px;
  color: cornflowerblue;
  font-size: 18px;
  display: inline;
}
.fields label {
  display: block;
  margin-bottom: 20px;
}
